/* GLOBAL */

body {
	margin: 0;
	padding: 60px 45px;
	box-sizing: border-box;
	font-family: 'effra';
}

.clearfix::before,
.clearfix::after {
    content: ' ';
    display: table;
}

.clearfix::after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* TYPE */

html,
body,
.container {
	height: 100%;
}

.container {
	display: table;
}

	#title {
		height: 60px;
		padding: 0 45px;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		box-sizing: border-box;
	}

	#title h1,
	#title h2 {
		margin: 0;
	}

	#title h1 {
		float: left;
	}

	#title h2 {
		float: right;
	}

	.content {
		width: 100%;
		background: #000;
		display: table-cell;
		vertical-align: middle;
	}
