
.about-page #home-about {
	position: relative;
	display: block;
	background: none;
}


	.about-page #home-about > div {
		height: 100%;
		display: block;
		width: 100%;
		overflow: hidden;
		/*max-height: 0;*/
		opacity: 0;
		transition: all 0.5s ease-in-out;
	}

		.about-page.about-load #home-about > div {
			/*max-height: 100%;*/
			opacity: 1;
			transition: all 1s ease-in-out;
		}

		.ng-leave .about-page #home-about > div {
			opacity: 0;
		}

	.about-page #home-about > div > div {
		display: table;
		width: 100%;
		height: 100%;
	}

	.about-page #home-about .section-container {
		background: url('../../images/about/about.gif') center center no-repeat;
		background-size: cover;
	}
		.about-page #home-about .section-container::before {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0.5);
			z-index: 1;
			opacity: 0;	
			transition: all 1s ease-in-out;
		}

			.about-page.about-load #home-about .section-container::before { 
				transition: all 1s ease-in-out;
				opacity: 1;
			}

	.about-page #home-about .section-center {
		width: 350px;
		color: #fff;
		position: relative;
		z-index: 10;
	}

	.about-page #home-about .section-center p {
		margin: 0;
	}

		.about-page #home-about .section-center .col-left {
			float: left;
			text-align: right;
			text-transform: uppercase;
			font-size: 44px;
			letter-spacing: 0.08em;
			line-height: 1;
			opacity: 0;
			position: relative;
			left: -30px;
			transition: all 1s ease-in-out;
		}

			.about-page.about-load #home-about .section-center .col-left {
				opacity: 1;
				transform: translateX(30px);
			}

			.ng-leave .about-page #home-about .section-center .col-left {
				opacity: 10
				transform: translateX(0);
			}

		.about-page #home-about .section-center .col-right {
			float: right;
			text-align: left;
			position: relative;
			top: 8px;
			font-weight: 100;
			opacity: 0;
			position: relative;
			right: -30px;
			transition: all 1s ease-in-out;
		}

			.about-page.about-load #home-about .section-center .col-right {
				opacity: 1;
				transform: translateX(-30px);
			}

			.ng-leave .about-page #home-about .section-center .col-right {
				opacity: 0;
				transform: translateX(0);
			}

			.about-page #home-about .section-center .col-right p {
				font-size: 17px;
			}

			.about-page #home-about .section-center .col-right .name {
				font-style: italic;
				font-family: 'Times';
				position: relative;
				padding-bottom: 4px;
				margin-bottom: 8px;
			}

				.about-page #home-about .section-center .col-right .name::before {
					content: "";
					position: absolute;
					left: 0;
					width: 15px;
					height: 1px;
					bottom: 0;
					background: #fff;
				}

	.about-page #descr-about {
		padding: 10%;
		box-sizing: border-box;
		display: table;
	}

		.about-page #descr-about > div {
			display: table-cell;
			vertical-align: middle;
		}

		.about-page #descr-about h4 {
			font-size: 25px;
			margin: 0 0 15px 0;
			position: relative;
		}

			.about-page #descr-about h4::before {
				content: "";
				position: absolute;
				left: 0;
				bottom: -5px;
				height: 1px;
				background: #000;
				width: 30px;
			}

			.about-page #descr-about p {
				margin: 0;
				font-size: 15px;
				line-height: 1.5;
			}

			.about-page #descr-about > div > p {
				margin-bottom: 70px;
			}

				.about-page #descr-about > div > p a {
					color: #40decd;
				}

			.about-page .columns > div {
				float: left;
				width: calc(100% / 3);
			}

			.about-page #descr-about ul li {
				font-size: 15px;
			}

	.about-page #descr-about .cv a {
		text-decoration: none;
	    padding: 10px 30px;
	    border: 2px solid #000;
	    text-transform: uppercase;
	    font-size: 20px;
	    margin-top: 15px;
	    width: 90px;
	    display: block;
	    color: #000;
	    box-sizing: border-box;
	    transition: all 0.4s ease-in-out;
	}

		.about-page #descr-about .cv a:hover {
			background: #000;
			color: #fff;
		}

/* RESPONSIVE */

@media screen and (max-width: 570px) and (min-width: 470px) {
	.about-page #descr-about .columns h4 {
		font-size: 18px;
	}

		body .about-page #descr-about ul li {
			font-size: 12px;
		}
}

@media screen and (max-width: 470px) {
	body .about-page .columns > div {
		width: 200px;
		display: block;
		float: none;
		margin: auto;
		margin-bottom: 15px;
	}

	body .about-page #descr-about .cv a {
		margin: auto;
		margin-top: 30px;
	}
}

@media screen and (max-width: 380px) {
	body .about-page #home-about .section-center {
		width: 100%;
	}

		body .about-page #home-about .section-center .col-left,
		body .about-page #home-about .section-center .col-right {
			float: none;
			width: 100%;
			text-align: center;
		}

		body .about-page #home-about .section-center .col-left br,
		body .about-page #home-about .section-center .col-right br,
		.about-page #home-about .section-center .col-right .name::before {
			display: none;
		}
}
