/* ANIM BTN MENU */

@keyframes animBtnMenu {
  	0% {
		transform: scale(1);
  	}
  	50% {
  		transform: scale(1.2);
  	}
  	100% {
		transform: scale(1);
  	}
}

@keyframes animBtnMenuClickSpan1 {
  0% {
	transform: translate(0, 0);
  }

  100% {
	transform: translate(0px, 9px) rotate(-45deg);
  }
}

@keyframes animBtnMenuClickSpan2 {
	0% {
		transform: translate(0, 0);
  	}
 	100% {
 		transform: translate(-100px, 0);
 	}
}

@keyframes animBtnMenuClickSpan3 {
  0% {
	transform: translate(0, 0);
  }

  100% {
	transform: translate(0px, -9px) rotate(45deg);
  }
}

@keyframes animBtnMenuClickSpan1Back {
  0% {
	transform: translate(0px, 9px) rotate(-45deg);
  }

  100% {
	transform: translate(0, 0) rotate(0deg);
  }
}

@keyframes animBtnMenuClickSpan2Back {
	0% {
		transform: translate(-100px, 0);
  	}
 	100% {
 		transform: translate(0, 0);
 	}
}

@keyframes animBtnMenuClickSpan3Back {
  0% {
	transform: translate(0px, -9px) rotate(45deg);
  }

  100% {
	transform: translate(0, 0) rotate(0deg);
  }
}

/* ANIM HOME */

@keyframes comeProjects {
    0% {
      transform: translateY(-50%);
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
}

@keyframes comeProjectsBis {
    0% {
      transform: translateY(150%);
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
}

/* LOADING ANIMATION */

@keyframes loadingSpan {
    0% {
      max-width: 0%;
    }
    100% {
      max-width: 50%;
    }
}

@keyframes dash {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes secondStepSpan {
  0% {
    transform: translateY(-30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes leaveTopLoading {
  0% {

  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes leaveBotLoading {
  0% {

  }
  100% {
    transform: translateY(100%);
  }
}

@keyframes hideLoading {
  0% {

  }
  100% {
    transform: translateY(1000px);
  }
}