/* ANIM BTN MENU */

@keyframes animBtnMenu {
  	0% {
		transform: scale(1);
  	}
  	50% {
  		transform: scale(1.2);
  	}
  	100% {
		transform: scale(1);
  	}
}

@keyframes animBtnMenuClickSpan1 {
  0% {
	transform: translate(0, 0);
  }

  100% {
	transform: translate(0px, 9px) rotate(-45deg);
  }
}

@keyframes animBtnMenuClickSpan2 {
	0% {
		transform: translate(0, 0);
  	}
 	100% {
 		transform: translate(-100px, 0);
 	}
}

@keyframes animBtnMenuClickSpan3 {
  0% {
	transform: translate(0, 0);
  }

  100% {
	transform: translate(0px, -9px) rotate(45deg);
  }
}

@keyframes animBtnMenuClickSpan1Back {
  0% {
	transform: translate(0px, 9px) rotate(-45deg);
  }

  100% {
	transform: translate(0, 0) rotate(0deg);
  }
}

@keyframes animBtnMenuClickSpan2Back {
	0% {
		transform: translate(-100px, 0);
  	}
 	100% {
 		transform: translate(0, 0);
 	}
}

@keyframes animBtnMenuClickSpan3Back {
  0% {
	transform: translate(0px, -9px) rotate(45deg);
  }

  100% {
	transform: translate(0, 0) rotate(0deg);
  }
}
