/* ANIM BTN MENU */

@keyframes animBtnMenu {
  	0% {
		transform: scale(1);
  	}
  	50% {
  		transform: scale(1.2);
  	}
  	100% {
		transform: scale(1);
  	}
}

@keyframes animBtnMenuClickSpan1 {
  0% {
	transform: translate(0, 0);
  }

  100% {
	transform: translate(0px, 9px) rotate(-45deg);
  }
}

@keyframes animBtnMenuClickSpan2 {
	0% {
		transform: translate(0, 0);
  	}
 	100% {
 		transform: translate(-100px, 0);
 	}
}

@keyframes animBtnMenuClickSpan3 {
  0% {
	transform: translate(0, 0);
  }

  100% {
	transform: translate(0px, -9px) rotate(45deg);
  }
}

@keyframes animBtnMenuClickSpan1Back {
  0% {
	transform: translate(0px, 9px) rotate(-45deg);
  }

  100% {
	transform: translate(0, 0) rotate(0deg);
  }
}

@keyframes animBtnMenuClickSpan2Back {
	0% {
		transform: translate(-100px, 0);
  	}
 	100% {
 		transform: translate(0, 0);
 	}
}

@keyframes animBtnMenuClickSpan3Back {
  0% {
	transform: translate(0px, -9px) rotate(45deg);
  }

  100% {
	transform: translate(0, 0) rotate(0deg);
  }
}

/* ANIM HOME */

@keyframes comeProjects {
    0% {
      transform: translateY(-50%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
}

@keyframes comeProjectsBis {
    0% {
      transform: translateY(150%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
}


@keyframes backProjects {
    0% {

    }
    70% {
      opacity: 1;
    }
    100% {
      transform: translateY(-100%);
      opacity: 0;
    }
}

@keyframes backProjectsBis {
    0% {

    }
    70% {
      opacity: 1;
    }
    100% {
      transform: translateY(100%);
      opacity: 0;
    }
}

@keyframes comeProjectsMobile {
    0% {
      transform: translateY(-50%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
}

@keyframes comeProjectsBisMobile {
    0% {
      transform: translateX(150%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}


@keyframes backProjectsMobile {
    0% {

    }
    70% {
      opacity: 1;
    }
    100% {
      transform: translateX(-100%);
      opacity: 0;
    }
}

@keyframes backProjectsBisMobile {
    0% {

    }
    70% {
      opacity: 1;
    }
    100% {
      transform: translateX(100%);
      opacity: 0;
    }
}

/* LOADING ANIMATION */

@keyframes bgBody {
    0% {
      background: #fff;
    }
    100% {
      background: #40decd;
    }
}

@keyframes textBody {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}


@keyframes loadingSpan {
    0% {
      max-width: 0%;
    }
    100% {
      max-width: 50%;
    }
}

@keyframes dash {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes secondStepSpan {
  0% {
    transform: translateY(-30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes leaveTopLoading {
  0% {

  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes leaveBotLoading {
  0% {

  }
  100% {
    transform: translateY(100%);
  }
}

@keyframes hideLoading {
  0% {

  }
  100% {
    transform: translateY(1000px);
  }
}

/* ANIM ABOUT */

@keyframes about {
  0% {
    opacity: 0;
    height: 0;
  }
  100% {
    height: 100%;
    opacity: 1;
  }
}

/* ANIM TYPE */

@keyframes topToBottom {
  0% {
    opacity: 0;
  }
  100% {
    transform: translateY(30px);
    opacity: 1;
  }
}

@keyframes leftToRight {
  0% {
    opacity: 0;
  }
  100% {
    transform: translateX(30px);
    opacity: 1;
  }
}

@keyframes rightToLeft {
  0% {
    opacity: 0;
  }
  100% {
    transform: translateX(-30px);
    opacity: 1;
  }
}

@keyframes leftToRightBack {
  0% {
    opacity: 1;
  }
  100% {
    transform: translateX(30px);
    opacity: 0;
  }
}

@keyframes rightToLeftBack {
  0% {
    opacity: 1;
  }
  100% {
    transform: translateX(-30px);
    opacity: 0;
  }
}
