@import url('_anim-project.css');

.ng-scope,
.project-page,
section {
	height: 100%;
	width: 100%;
}

.ng-enter .project-page {
	animation: growthPage 1s ease-in-out forwards;
	overflow: hidden;
}

.ng-leave .project-page {
	animation: unGrowthPage 1s ease-in-out forwards;
	overflow: hidden;
}

section {
	height: 100%;
	width: 100%;
	display: table;
	background: #fff;
}

	section .section-container {
		display: table-cell;
		vertical-align: middle;
	}

	section .section-center {
		display: block;
		margin: auto;
		width: 80%;
		max-width: 70rem;
	}

	#nav {
		position: fixed;
		right: 10%;
		top: 0%;
		z-index: 999;
		height: 100%;
		display: flex;
		align-items: center;
	}

		#nav div {
			position: relative;
		}

		#nav div > div {
			display: block;
			width: 11px;
			height: 11px;
			margin-bottom: 3rem;
			cursor: pointer;
			position: relative;
			z-index: 10;
			border-radius: 100%;
			border: 1px solid #e8d6d9;
		}
			#nav div > div::before {
				content: "";
				position: absolute;
				width: 13px;
				height: 13px;
				border-radius: 100%;
				transform: scale(0);
				background: #e8d6d9;
				top: -1px;
				left: -1px;
				transition: all 0.4s ease-in-out;
				z-index: -1;
			}

			#nav div > div::after {
				content: "";
				position: absolute;	
				width: 11px;
				height: 11px;
				border-radius: 100%;
				z-index: 5;
				top: 0;
				left: 0;		
			}

			#nav div > div:last-child {
				margin: 0;
			}
			
			/* SNCF DEFAULT */
			#nav div > div.active::after {background: #65224B;}
			#nav div > div.active::before {
				transform: scale(1.2);
			}

		#nav div > span {
			position: absolute;
			width: 0.2rem;
			height: 3rem;
			background: #e8d6d9;
			left: 0.5rem;
			max-height: 0;
			z-index: 1;
		}

		#nav div .chapter-nav:first-child + span {
			top: 1.6rem;		
		}

		#nav div .chapter-nav:first-child + span + div + span {
			top: 5.8rem;
		}
/*
		.sncf #nav div > div {border: 1px solid #65224B;}
			.sncf #nav div > div:hover {border: 1px solid #fff; background: #65224B;}*/

	#home-project .number {
		font-size: 20rem;
		font-weight: 700;
		line-height: 1;
		color: #fff;
		margin: 0;
		opacity: 0.75;
		text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
		position: relative;
		left: -1rem;
		opacity: 0;
		animation: animLeftToRight 0.8s 0.3s ease-in-out forwards;
	}


	#home-project .name .title {
		font-size: 5.5rem;
		font-weight: 700;
		color: #fff;
		text-align: left;
		margin: 0;
		text-transform: uppercase;
		max-width: 49%;
		line-height: 0.8;
		float: left;
		opacity: 0;
		animation: animBottomToTop 0.8s 0.5s ease-in-out forwards;
	}	

	#home-project .name .title + p {
		float: right;
		max-width: 49%;
		opacity: 0;
		animation: animTopToBottom 0.8s 0.7s ease-in-out forwards;
	}
	
	#home-project .name .date {
		font-family: 'Times';
		font-style: italic;
		font-size: 1.8rem;
		position: relative;
		color: #fff;
		padding-bottom: 0.2rem;
	}

		#home-project .name .date::after {
			content: "";
			position: absolute;
			left: 0;
			bottom: 0;
			height: 0.1rem;
			width: 60%;
			background: #fff;
		}

	#home-project .name .description {
		display: block;
		font-size: 1.5rem;
		color: #fff;
		font-weight: 300;
		margin-top: 0.5rem;
	}

	#info-project {
		height: 100%;
	}

		#info-project .contain-infos {
			width: 80%;
			max-width: 70rem;
			position: relative;
			left: 10%;
			margin: auto;
			height: 100%;
			max-height: 100%;
			background: #fff;
			padding: 0 6.5rem;
			box-sizing: border-box;
			transition: all 0.4s 0.2s ease-in-out;
		}

		#info-project.isNot .contain-infos {
			max-height: 0;
		}

			#info-project .contain-infos .col-left {
				width: 25%;
				float: left;
				padding-top: 16.2rem;
			}	

				#info-project .contain-infos .col-left div {
					margin-bottom: 7rem;
					opacity: 0;
				}

				#info-project.isIt .contain-infos .col-left div {
					animation: animLeftToRight 0.8s 0.5s ease-in-out forwards;
				}

				#info-project.isIt .contain-infos .col-left div + div {
					animation: animLeftToRight 0.8s 0.7s ease-in-out forwards;
				}

				#info-project.isIt .contain-infos .col-left div + div + div {
					animation: animLeftToRight 0.8s 0.9s ease-in-out forwards;
				}

				#info-project .contain-infos .col-left p,
				#info-project .contain-infos .col-left div:last-child {
					margin: 0;
				}

				#info-project .contain-infos .col-left p.project-title-left,
				#info-project .contain-infos .col-right .long-descr p:first-child {
					color: #000;
					font-weight: 700;
					font-size: 2rem;
					padding-bottom: 0.6rem;
					border-bottom: 2px solid #000;
					margin-bottom: 1rem;
				}

				#info-project .contain-infos .col-left p.project-descr-left {
					font-family: 'Times';
					font-style: italic;
					color: #000;
					font-size: 1.8rem;
				}

			#info-project .contain-infos .col-right {
				width: 70%;
				float: right;
				padding-top: 7.5rem;
			}

				
				#info-project .contain-infos .col-right h2 {
					color: #333333;
					text-transform: uppercase;
					font-size: 3rem;
					font-weight: 700;
					border-bottom: 2px solid #000;
					margin: 0 0 5rem 0;
					opacity: 0;
				}

					#info-project.isIt .contain-infos .col-right h2 {
						animation: animRightToLeft 0.8s 0.5s ease-in-out forwards;
					}

				#info-project .contain-infos .col-right .long-descr {
					opacity: 0;
				}

					#info-project.isIt .contain-infos .col-right .long-descr {
						animation: animRightToLeft 0.8s 0.8s ease-in-out forwards;
					}

				#info-project .contain-infos .col-right .long-descr p:first-child {
					border-bottom: none;
					position: relative;
				}

				#info-project .contain-infos .col-right .long-descr p:first-child::after {
					content: "";
					position: absolute;
					bottom: 0;
					left: 0;
					width: 50%;
					height: 0.2rem;
					background: #000;
				}

				#info-project .contain-infos .col-right .long-descr p:first-child + p {
					font-size: 1.8rem;
					font-weight: 300;
				}

		.screen-project > div {
			display: table-cell;
			vertical-align: middle;
		}

			.screen-project .contain-screen {
				width: 70%;
				margin: auto;
				padding: 2rem 0;
				max-width: 100rem;
			}

			.screen-project .contain-screen p {
				float: left;
				max-width: 15%;
				padding-top: 2rem;
				font-family: 'Times';
				font-style: italic;
				font-size: 2rem;
				position: relative;
				padding-bottom: 0.3rem;
				opacity: 0;
			}

				.screen-project.isIt .contain-screen p {
					animation: animTopToBottom 0.8s 0.6s ease-in-out forwards;
				}

				.screen-project .contain-screen p::after {
					content: "";
					position: absolute;
					left: 0;
					bottom: 0;
					height: 0.1rem;
					width: 4rem;
					background: #000;
				}

			.screen-project .contain-screen img {
				float: right;
				max-width: 85%;
				padding-top: 2rem;
				opacity: 0;
			}

				.screen-project.isIt .contain-screen img {
					animation: animBottomToTop 0.8s 0.9s ease-in-out forwards;
				}

	.video iframe {
		display: block;
	}

	.change-projects {
		background: #fff;
		padding: 5rem 20%;
	}

	.change-projects a {
		border: 3px solid #000;
		position: relative;
		text-decoration: none;
		color: #000;
		padding: 8px 10px;
		text-transform: uppercase;
		transition: all 0.4s ease-in-out;
		z-index: 10;
		width: 6rem;
		display: block;
		text-align: center;
	}

	.change-projects a:first-child {
		float: left;
	}

	.change-projects a:last-child {
		float: right;
	}

		.change-projects a span {
			position: relative;
			z-index: 10;
		}

		.change-projects a::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			max-height: 0;
			background: #000;
			transition: all 0.4s ease-in-out;
			z-index: 1;
		}

	.change-projects a:hover {
		color: #fff;
	}

		.change-projects a:hover::before {
			max-height: 100%;
		}


/* NOOKE */

.nooke #home-project {
	background: url('../../images/projects/nooke/nooke_section_1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.screen-home-project .nooke {
	background: url('../../images/projects/nooke/home_nooke_section_1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;	
}

.nooke #info-project {
	background: url('../../images/projects/nooke/nooke_section_2.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;	
}

.nooke #nav div > div.active::after {
	background: #FD6967;
}
	
	.nooke .video {
		height: 150%;
	}

		.nooke .video iframe {
			height: 50%;
		}

/* SNCF */

.sncf #home-project {
	background: url('../../images/projects/sncf/sncf_section_1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.screen-home-project .sncf {
	background: url('../../images/projects/sncf/home_sncf_section_1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}


.sncf #info-project {
	background: url('../../images/projects/sncf/sncf_section_2.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;	
}

/* ROCKET */

.rocket #home-project {
	background: url('../../images/projects/rocket/rocket_section_1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.screen-home-project .rocket {
	background: url('../../images/projects/rocket/home_rocket_section_1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}



.rocket #info-project {
	background: #31c7dd url('../../images/projects/rocket/rocket_section_2.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center bottom;	
}

.rocket #nav div > div.active::after  {
	background: #208275;
}

/* THREE */

.three #home-project {
	background: url('../../images/projects/three/three_section_1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.screen-home-project .three {
	background: url('../../images/projects/three/home_three_section_1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}



.three #info-project {
	background: url('../../images/projects/three/three_section_2.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;	
}

.three #nav div > div.active::after  {
	background: #2869CF;
}


/* NUT AND BOLT */

.nut-and-bolt #home-project {
	background: url('../../images/projects/nut-and-bolt/nut-and-bolt_section_1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.screen-home-project .nut-and-bolt {
	background: url('../../images/projects/nut-and-bolt/home_nut-and-bolt_section_1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.nut-and-bolt #info-project {
	background: url('../../images/projects/nut-and-bolt/nut-and-bolt_section_2.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;	
}

.nut-and-bolt #nav div > div.active::after  {
	background: #EDDA62;
}

/* SISLEY */

.sisley #home-project {
	background: url('../../images/projects/sisley/sisley_section_1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.screen-home-project .sisley {
	background: url('../../images/projects/sisley/home_sisley_section_1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}


.sisley #info-project {
	background: #290f63;
	position: relative;
}
	.sisley #info-project::before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 50%;
		max-width: 640px;
		background: url('../../images/projects/sisley/sisley_section_2.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: left top;	
	}

.sisley .screen-project .contain-screen img {
	max-width: 310px;
}

.sisley #nav div > div.active::after  {
	background: #fa2558;
}

/* RESPONSIVE */

@media screen and (max-width: 910px) {
	body section .section-center {
		width: 50%;
	}

		body #home-project .name .title,
		body #home-project .name .title + p {
			float: none;
			max-width: 100%;
		}
}

@media screen and (max-width: 680px) {
	body section .section-center {
		width: 80%;
	}
}

@media screen and (max-width: 580px) {
	body #info-project .contain-infos {
		padding: 0 4.5rem;
	}

	body #info-project .contain-infos .col-left,
	body #info-project .contain-infos .col-right {
		display: block;
		float: none;
		width: 100%;
	}

	body #info-project .contain-infos .col-left {
		padding-top: 9.2rem;
	}

	#info-project .contain-infos .col-right {
		padding-top: 3.5rem;
	}
		

		body #info-project .contain-infos .col-left div {
			margin-bottom: 0;
			display: inline-block;
			vertical-align: middle;
			width: calc(100% / 3 - 10%);
		}

			body #info-project .contain-infos .col-left div:first-child + div {
				margin: 0 10%;
			}

		body #info-project .contain-infos .col-left p.project-title-left {
			font-size: 13px;
		}

		body #info-project .contain-infos .col-left p.project-descr-left {
			font-size: 1.4rem;
		}
}

@media screen and (max-width: 470px) {
	body #home-project .number {
		font-size: 13rem;
	}

	body #home-project .name .title {
		font-size: 3.5rem;
	}
}

@media screen and (max-width: 400px) {
	body #info-project .contain-infos .col-left {
		display: none;
	}
}
