/* GLOBAL */

body {
	margin: 0;
	padding: 6rem 4.5rem 4.5rem;
	box-sizing: border-box;
	font-family: 'effra';
	font-size: 10px;
	transition: all 0.6s ease-in-out;
	/*transition: padding-left 0.3s ease-in-out, padding-top 0.3s 0.2s ease-in-out, padding-right 0.3s 0.4s ease-in-out, padding-bottom 0.3s 0.6s ease-in-out;*/
}

	body.scroll {
		padding: 0;
	}

.clearfix::before,
.clearfix::after {
    content: ' ';
    display: table;
}

.clearfix::after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* TYPE */

html {
	font-size: 10px;
}

html,
body,
.container {
	height: 100%;
}

.container {
	display: block;
	width: 100%;
}

/* TITLE */

	#title {
		height: 6rem;
		padding: 1.7rem 4.5rem 0 4.5rem;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		box-sizing: border-box;
	}

	#title h1,
	#title h2 {
		margin: 0;
		text-transform: uppercase;
	}

	#title h1 {
		float: left;
		font-size: 2rem;
	}

	#title h2 {
		float: right;
		font-size: 2rem;
	}

	.content {
		width: 100%;
		background: #000;
		display: block;
		height: 100%;
		max-height: 100%;
		position: relative;
		overflow: scroll;
	}

	.contain-view > div:first-child {
		position: relative;
		z-index: 8;
	}

	/* BG PAGES */
	#bg-all-page {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: table;
		background: #40decd;
		z-index: 1;
	}

		#bg-all-page > div {
			display: table-cell;
			vertical-align: middle;
		}

		#bg-all-page > div p {
			font-size: 22rem;
			text-align: center;
			margin: 0;
			font-weight: 700;
			color: #c0eae6;
			text-transform: uppercase;
		}

	/* BTN MENU */

	#btn-menu {
		position: absolute;
		top: 10px;
		left: 12px;
		height: 40px;
		width: 40px;
		border: 3px solid #fff;
		cursor: pointer;
		overflow: hidden;
		z-index: 10;
	}

		#btn-menu span {
			position: absolute;
			height: 2px;
			width: 70%;
			left: 15%;
			background: #fff;
		}

			#btn-menu span:first-child {top: 10px;}
			#btn-menu span:first-child + span {top: 19px;}
			#btn-menu span:last-child {top: 28px;}

			#btn-menu:hover span:first-child {animation: animBtnMenu 0.8s ease-in-out;}
			#btn-menu:hover span:first-child + span {animation: animBtnMenu 0.8s 0.2s ease-in-out;}
			#btn-menu:hover span:last-child {animation: animBtnMenu 0.8s 0.4s ease-in-out;}

			#btn-menu.active span:first-child {animation: animBtnMenuClickSpan1 0.6s ease-in-out forwards;}
			#btn-menu.active span:first-child + span {animation: animBtnMenuClickSpan2 0.6s ease-in-out forwards;}
			#btn-menu.active span:last-child {animation: animBtnMenuClickSpan3 0.6s ease-in-out forwards;}

			#btn-menu.disactive span:first-child {animation: animBtnMenuClickSpan1Back 0.6s ease-in-out forwards;}
			#btn-menu.disactive span:first-child + span {animation: animBtnMenuClickSpan2Back 0.6s ease-in-out forwards;}
			#btn-menu.disactive span:last-child {animation: animBtnMenuClickSpan3Back 0.6s ease-in-out forwards;}

	/* BTN HELLO */
	#btn-hello {
		border: 3px solid #fff;
		position: absolute;
		right: 12px;
		top: 10px;
		text-decoration: none;
		color: #fff;
		padding: 8px 10px;
		text-transform: uppercase;
		transition: all 0.4s ease-in-out;
		z-index: 10;
	}

		#btn-hello span {
			position: relative;
			z-index: 10;
		}

		#btn-hello::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			max-height: 0;
			background: #fff;
			transition: all 0.4s ease-in-out;
			z-index: 1;
		}

	#btn-hello:hover {
		color: #000;
	}

		#btn-hello:hover::before {
			max-height: 100%;
		}

	.contain-view {
		overflow: scroll;
		width: 100%;
		height: 100%;
	}

	/* MENU */

	#menu {
		width: 100%;
		height: 100%;
		background: #061729;
		position: absolute;
		z-index: -1;
		top: -100%;
		left: 0;
		padding: 20px 0;
		box-sizing: border-box;
		transition: all 0.4s ease-in-out;
		opacity: 0;
	}

		#menu.active {
			z-index: 9;
			transform: translateY(100%);
			opacity: 1;
		}

		#menu ul {
			margin: 0;
			padding: 0;
			height: 100%;
		}


			#menu li {
				list-style-type: none;
				height: calc(100%/7);
				width: 100%;
				display: table;
			}

				#menu li a {
					text-transform: uppercase;
					color: #fff;
					font-size: 45px;
					text-align: center;
					text-decoration: none;
					display: table-cell;
					vertical-align: middle;
					line-height: 100%;
				}

					#menu li a span {
						display: inline-block;
						position: relative;
					}

						#menu li a span::before {
							content: "";
							position: absolute;
							top: 20px;
							left: -10%;
							height: 3px;
							width: 120%;
							max-width: 0;
							background: #fff;
							transition: all 0.4s ease-in-out;
						}

				#menu li a:hover span::before,
				#menu li a.active span::before {
					max-width: 120%;
				}