/* GLOBAL */

body {
	margin: 0;
	padding: 6rem 4.5rem 4.5rem;
	box-sizing: border-box;
	font-family: 'effra';
	font-size: 10px;
	transition: all 0.6s ease-in-out;
	background: #fff;
	/*transition: padding-left 0.3s ease-in-out, padding-top 0.3s 0.2s ease-in-out, padding-right 0.3s 0.4s ease-in-out, padding-bottom 0.3s 0.6s ease-in-out;*/
}

	body.scroll {
		padding: 0;
	}

	::-webkit-scrollbar {
	    display: none;
	}

.clearfix::before,
.clearfix::after {
    content: ' ';
    display: table;
}

.clearfix::after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.left {
	float: left;
}

.right {
	float: right;
}

.ng-enter {
	animation: ngAnimEnter 1.5s ease-in-out forwards;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
}

.ng-leave {
	animation: ngAnimLeave 1.5s ease-in-out forwards;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
}

.ng-enter.active {
	opacity: 1;
}

.ng-leave.active {
	opacity: 1;
}


/* TYPE */

html {
	font-size: 10px;
}

html,
body,
.container {
	height: 100%;
}

.container {
	display: block;
	width: 100%;
}

/* TITLE */

	#title {
		height: 6rem;
		padding: 1.7rem 4.5rem 0 4.5rem;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		color: #000;
		text-decoration: none;
		box-sizing: border-box;
	}

	#title a {
		margin: 0;
		text-transform: uppercase;
	}

	#title a:first-child {
		float: left;
		font-size: 2rem;
		color: #000;
		text-decoration: none;
		font-weight: 700;
		transition: all 0.4s ease-in-out;
	}

		#title a:first-child:hover {
			color: #40DECD;
		}

	#title a:first-child + a {
		float: right;
		font-size: 2rem;
		color: #000;
		text-decoration: none;
		font-weight: 700;
		transition: all 0.4s ease-in-out;
	}

		#title a:first-child + a:hover {
			color: #40DECD;
		}

	.content {
		width: 100%;
		background: #000;
		display: block;
		height: 100%;
		max-height: 100%;
		position: relative;
		overflow: scroll;
	}

	.contain-view > div:first-child {
		position: relative;
		z-index: 8;
	}

	/* BG PAGES */
	.bg-all-page {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: table;
		background: #40decd;
		z-index: 1;
	}

		.bg-all-page > div {
			display: table-cell;
			vertical-align: middle;
			position: relative;
			z-index: 5;
		}

		.bg-all-page canvas {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
		}

		.bg-all-page > div p {
			font-size: 22rem;
			text-align: center;
			margin: 0;
			font-weight: 700;
			color: #c0eae6;
			text-transform: uppercase;
		}

	/* BTN MENU */

	#btn-menu {
		position: absolute;
		top: 30px;
		left: 32px;
		height: 40px;
		width: 40px;
		border: 3px solid #fff;
		cursor: pointer;
		overflow: hidden;
		z-index: 10;
	}

		#btn-menu span {
			position: absolute;
			height: 2px;
			width: 70%;
			left: 15%;
			background: #fff;
		}

			#btn-menu span:first-child {top: 10px;}
			#btn-menu span:first-child + span {top: 19px;}
			#btn-menu span:last-child {top: 28px;}

			#btn-menu:hover span:first-child {animation: animBtnMenu 0.8s ease-in-out;}
			#btn-menu:hover span:first-child + span {animation: animBtnMenu 0.8s 0.2s ease-in-out;}
			#btn-menu:hover span:last-child {animation: animBtnMenu 0.8s 0.4s ease-in-out;}

			#btn-menu.active span:first-child {animation: animBtnMenuClickSpan1 0.6s ease-in-out forwards;}
			#btn-menu.active span:first-child + span {animation: animBtnMenuClickSpan2 0.6s ease-in-out forwards;}
			#btn-menu.active span:last-child {animation: animBtnMenuClickSpan3 0.6s ease-in-out forwards;}

			#btn-menu.disactive span:first-child {animation: animBtnMenuClickSpan1Back 0.6s ease-in-out forwards;}
			#btn-menu.disactive span:first-child + span {animation: animBtnMenuClickSpan2Back 0.6s ease-in-out forwards;}
			#btn-menu.disactive span:last-child {animation: animBtnMenuClickSpan3Back 0.6s ease-in-out forwards;}

	/* BTN HELLO */
	#btn-hello {
		border: 3px solid #fff;
		position: absolute;
		right: 32px;
		top: 30px;
		text-decoration: none;
		color: #fff;
		padding: 8px 10px;
		text-transform: uppercase;
		transition: all 0.4s ease-in-out;
		z-index: 10;
	}

		#btn-hello span {
			position: relative;
			z-index: 10;
		}

		#btn-hello::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			max-height: 0;
			background: #fff;
			transition: all 0.4s ease-in-out;
			z-index: 1;
		}

	#btn-hello:hover {
		color: #000;
	}

		#btn-hello:hover::before {
			max-height: 100%;
		}

	.contain-view {
		overflow: scroll;
		width: 100%;
		height: 100%;
	}

	.home .contain-view,
	.home .content {
		overflow: hidden;
	}

	/* MENU */

	#menu {
		width: 100%;
		height: 100%;
		background: #061729;
		position: absolute;
		z-index: -1;
		top: -100%;
		left: 0;
		padding: 20px 0;
		box-sizing: border-box;
		transition: all 0.4s ease-in-out;
		opacity: 0;
	}

		#menu.active {
			z-index: 9;
			transform: translateY(100%);
			opacity: 1;
		}

		#menu ul {
			margin: 0;
			padding: 0;
			height: 100%;
		}


			#menu li {
				list-style-type: none;
				height: calc(100%/6);
				width: 100%;
				display: table;
			}

				#menu li a {
					text-transform: uppercase;
					color: #fff;
					font-size: 45px;
					text-align: center;
					text-decoration: none;
					display: table-cell;
					vertical-align: middle;
					line-height: 100%;
				}

					#menu li a span {
						display: inline-block;
						position: relative;
					}

						#menu li a span::before {
							content: "";
							position: absolute;
							top: 20px;
							left: -10%;
							height: 6px;
							width: 120%;
							max-width: 0;
							background: #fff;
							transition: all 0.4s ease-in-out;
						}

				#menu li a:hover span::before,
				#menu li a.active span::before {
					max-width: 120%;
				}


/* HOME */

.ng-scope.screen-home-project {
	float: left;
	width: calc(100% / 6);
	/*opacity: 0;*/
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
}

.ng-enter .screen-home-project:nth-child(even) {
	animation: comeProjects 1s ease-in-out forwards;
}

.ng-enter .screen-home-project:nth-child(odd) {
	animation: comeProjectsBis 1s ease-in-out forwards;
}

.ng-leave .screen-home-project:nth-child(even) {
	animation: backProjects 1s ease-in-out forwards;
}

.ng-leave .screen-home-project:nth-child(odd) {
	animation: backProjectsBis 1s ease-in-out forwards;
}


.screen-home-project > a {
	height: 100%;
	width: 100%;
	position: relative;
	display: block;
	text-decoration: none;
}

	.screen-home-project > a::before {
		content: "";
		position: absolute;
		left: 0;
		width: 100%;
		height: 100%;
		max-height: 100%;
		background: rgba(0, 0, 0, 0.6);
		transition: all 0.6s ease-in-out;
	}

/*	.screen-home-project:nth-child(even) > a::before  {
		top: 0;
	}*/

	.screen-home-project > a::before  {
		bottom: 0;
	}

	.screen-home-project > a:hover::before {
		max-height: 0%;
	}

	.screen-home-project > a > div {
		width: 100%;
		height: 50px;
		position: absolute;
		bottom: 0;
		transform: translate(50px);
		opacity: 0;
		transition: all 0.4s 0.6s ease-in-out;
	}

		.screen-home-project > a:hover > div {
			transform: translateY(0);
			opacity: 1;
		} 

	.screen-home-project a.nooke .indic-project {
		background: #FD6967;
	}

	.screen-home-project a.sncf .indic-project {
		background: #65224B;
	}

	.screen-home-project a.rocket .indic-project {
		background: #208275;
	}

	.screen-home-project a.three .indic-project {
		background: #2869CF;
	}

	.screen-home-project a.nut-and-bolt .indic-project {
		background: #EDDA62;
	}

	.screen-home-project a.sisley .indic-project {
		background: #fa2558;
	}

/*	.screen-home-project a:nth-child(even) > div {
		top: 0;
	}

	.screen-home-project a:nth-child(odd) > div {
		bottom: 0;
	}*/

	.screen-home-project > a p {
		margin: 0;
		color: #fff;
		text-align: center;
		display: block;
		vertical-align: middle;
		font-size: 15px;
		line-height: 50px;
	}


	/* LOADING PAGE */

	.isLoad .loading-page {
		display: none;
	}

	.loading-page {
		position: absolute;
		width: 100%;
		height: 100%;
		/*background: #fff;*/
		top: 0;
		left: 0;
		z-index: 9;
		align-items: center;
		display: flex;
	}

		.loading-page > div {
			width: 100%;
			display: flex;
			align-items: center;
			text-align: center;
			font-size: 40px;
		}

		.loading-page::before,
		.loading-page::after {
			content: "";
			position: absolute;
			background: #fff;
			width: 100%;
			height: 50%;
			left: 0;
			z-index: 1;
		}

		.loading-page::after {
			bottom: 0;
		}

		.loading-page::before {
			top: 0;
		}

		.loading-page div > div {
			width: 102px;
			height: 102px;
			/*max-width: 0;*/
			position: relative;
			z-index: 10;
		}
			.loading-page div > div svg {
				width: 102px;
				height: 50px;
				stroke-width: 3;
                stroke-dasharray: 1000;
                stroke-dashoffset: 1000;
                position: relative;
                z-index: 10;
                animation: dash 2s 2s ease-in-out forwards;
			}

			.loading-page div > div span {
			    position: relative;
			    z-index: 20;
			    font-weight: 700;
			    font-size: 50px;
			    top: 17px;
			    opacity: 0;
			    color: #40DECD;
			}

			.loading-page div > div #top-circle {
				position: absolute;
				left: 0;
				top: 0;
			}

			.loading-page div > div #bot-circle {
				position: absolute;
				left: 0;
				bottom: 2px;
				transform: rotate(180deg);
			}

		.loading-page > div > span {
			height: 2px;
			position: relative;
			width: calc(50% - 50px);
			background: #40DECD;
			max-width: 0;
			z-index: 10;
		}

		.loading-page #first-step {
			animation: loadingSpan 2s ease-in-out forwards;
		}

		.loading-page div > div span {
			animation: secondStepSpan 0.5s 3s ease-in-out forwards;
		}

		.loading-page #third-step {
			animation: loadingSpan 2s 3s ease-in-out forwards;
		}

		.loading-page::before {
			animation: leaveTopLoading 1s 5s ease-in-out forwards;
		}

		.loading-page::after {
			animation: leaveBotLoading 1s 5s ease-in-out forwards;
		}

		.loading-page > div {
			animation: hideLoading 1s 5s ease-in-out forwards;
		}

/* RESPONSIVE */

@media screen and (max-width: 800px) {
	.ng-scope.screen-home-project {
		width: 100%;
		float: none;
		display: block;
		height: calc(100% / 6);
	}
	
	/* EVEN */

	.ng-scope.screen-home-project:nth-child(even) {
		left: -50%;
		top: inherit;
	}

	.launchAnim .ng-scope.screen-home-project:nth-child(even) {
		transform: translateX(50%);
		opacity: 1;
	}

	.launchAnim.leave-home .ng-scope.screen-home-project:nth-child(even) {
		left: -100%;
		top: inherit;
		transform: translateY(0);
	}

	.launchAnim.leave-home.home-anim .ng-scope.screen-home-project:nth-child(even) {
		transform: translateX(100%);
	}

	/* ODD */

	.ng-scope.screen-home-project:nth-child(odd) {
		top: inherit;
		left: 100%;
	}

	.launchAnim .ng-scope.screen-home-project:nth-child(odd) {
		transform: translateX(-100%);
		opacity: 1;
	}

	.launchAnim.leave-home .ng-scope.screen-home-project:nth-child(odd) {
		top: inherit;
		transform: translateX(0);
	}

	.launchAnim.leave-home.home-anim .ng-scope.screen-home-project:nth-child(odd) {
		transform: translateX(-100%);
	}
}

@media screen and (max-width: 550px) {
	body {
		padding: 5rem 2.5rem 2.5rem;
	}

	#title {
		padding: 1.7rem 2.5rem 0 2.5rem;
	}

		#title a:first-child,
		#title a:first-child + a {
			font-size: 1.5rem;
		}

	#btn-hello {
		top: 15px;
		right: 15px;
	}

	#btn-menu {
		top: 15px;
		left: 15px;
	}

	#menu li a {
		font-size: 25px;
	}

	.bg-all-page > div p {
		font-size: 12rem;
	}
}

@media screen and (max-width: 370px) {
	#title {
		padding: 2rem 2.5rem 0 2.5rem;
	}

		#title a:first-child,
		#title a:first-child + a {
			font-size: 1.2rem;
		}	
}
