<div class="content-view about-page">
	<section id="home-about">
		<div class="section-container">
			<div class="section-center">
				<div class="col-left">
					<p>About<br> Me</p>
				</div>

				<div class="col-right">
					<p class="name">Léo Brossault</p>
					<p>French, developer<br> and passionnate</p>
				</div>
			</div>
		</div>
	</section>

	<section id="descr-about">
		<h4>About</h4>
		<p>Hi, I'm Léo Brossault, a French creative developer, currently living and working in Paris. Fere is my selected works. I am offering services such as development and I am currently attending at Gobelins, "ecole de l'image", in Paris, in the interactive design section.<br> I am always looking for challenge and exciting projects. So, if you are interested in working with me or want to collaborate on a project, feel free to contact me, <a href="mailto:brossault.leo@gmail.com">brossault.leo@gmail.com</a></p>

		<div class="columns">
			<div>
				<h4>Specialities</h4>
				<ul>
					<li>Development</li>
					<li>Development</li>
					<li>Development</li>
					<li>Development</li>
					<li>Development</li>
					<li>Development</li>
				</ul>
			</div>

			<div>
				<h4>Specialities</h4>
				<ul>
					<li>Development</li>
					<li>Development</li>
					<li>Development</li>
					<li>Development</li>
					<li>Development</li>
					<li>Development</li>
				</ul>
			</div>

			<div>
				<h4>Specialities</h4>
				<ul>
					<li>Development</li>
					<li>Development</li>
					<li>Development</li>
					<li>Development</li>
					<li>Development</li>
					<li>Development</li>
				</ul>
			</div>

			<div class="cv">
				<p><a href="#">CV</a></p>
			</div>
		</div>
	</section>
</div>

