<div class="content-view about-page">
	<section id="home-about">
		<div>
			<div>
				<div class="section-container">
					<div class="section-center">
						<div class="col-left">
							<p>About<br> Me</p>
						</div>

						<div class="col-right">
							<p class="name">Léo Brossault</p>
							<p>Développeur<br> et passionner</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="descr-about">
		<div>
			<h4>A Propos</h4>
<!-- 			<p>Hi, I'm Léo Brossault, a French creative developer, currently living and working in Paris. Fere is my selected works. I am offering services such as development and I am currently attending at Gobelins, "ecole de l'image", in Paris, in the interactive design section.<br> I am always looking for challenge and exciting projects. So, if you are interested in working with me or want to collaborate on a project, feel free to contact me, <a href="mailto:brossault.leo@gmail.com">brossault.leo@gmail.com</a></p> -->
			<p>Hey, je m'appelle Léo, je suis "Creative Developer", actuellement je vis et travail à Paris. Je suis à Gobelins dans la formation CRMA (design interactif) et en alternance dans une agence parisienne du nom de Maecia. <br>Vous pourrez trouver mes derniers travaux en visitant mon site. Si vous êtes intéressé pour travailler avec moi, n'hésitez pas à me contacter par mail <a href="mailto:brossault.leo@gmail.com">brossault.leo@gmail.com</a>. Je vous répondrai avec plaisir !</p>

			<div class="columns clearfix">
				<div>
					<h4>Développement</h4>
					<ul>
						<li>HTML / CSS</li>
						<li>Javascript</li>
						<li>PHP</li>
						<li>C#</li>
						<li>Objectiv C</li>
						<li>Git</li>
						<li>Et un peu de C, Java, ...</li>
					</ul>
				</div>

				<div>
					<h4>Autres</h4>
					<ul>
						<li>Photoshop</li>
						<li>Illustrator</li>
						<li>InDesign</li>
						<li>Anglais</li>
						<li>Allemand</li>
					</ul>
				</div>

				<div>
					<h4>Ce que j'aime</h4>
					<ul>
						<li>Voyager</li>
						<li>Dessiner</li>
						<li>Lire</li>
						<li>Faire du sport</li>
						<li>Sortir</li>
						<li>Apprendre</li>
					</ul>
				</div>

				<div class="cv">
					<!-- <p><a href="#">CV</a></p> -->
				</div>
			</div>
		</div>
	</section>
</div>
