<div class="loading-page">
  <div>
    <span id="first-step"></span>
    <div id="second-step">
      <svg x="0px" y="0px" id="top-circle">
        <path fill="#ffffff" stroke="#40DECD" stroke-width="2" stroke-miterlimit="10" d="M1,51C1,23.4,23.4,1,51,1s50,22.4,50,50"/>
      </svg>
      <span>LB</span>
      <svg x="0px" y="0px" id="bot-circle">
        <path fill="#ffffff" stroke="#40DECD" stroke-width="2" stroke-miterlimit="10" d="M1,51C1,23.4,23.4,1,51,1s50,22.4,50,50"/>
      </svg>
    </div>
    <span id="third-step"></span>
  </div>
</div>