<div scroll class="content-view project-page {{urlProject}}">
	<div id="nav">
		<div>
			<div class="chapter-nav active" data="home-project" ng-click="nav($event, 0)"></div>
			<span class="timeline"></span>
			<div class="chapter-nav" data="home-project" ng-click="nav($event, 1)"></div>
			<span class="timeline"></span>
			<div class="chapter-nav" data="info-project" ng-click="nav($event, 2)"></div>
		</div>
	</div>

	<section id="home-project" class="section">
		<div class="section-container">
			<div class="section-center">
				<p class="number" ng-bind="numberProject"></p>
				<div class="name">
					<p class="title" ng-bind="titleProject"><br/>Transilien</p>
					<p>
						<span class="date" ng-bind="yearProject"></span>
						<span class="description" ng-bind="describeProject"></span>
					</p>
				</div>
			</div>
		</div>
	</section>

	<section id="info-project" class="section isNot">
		<div class="contain-infos">
			<div class="col-left">
				<div>
					<p class="project-title-left">Création</p>
					<p class="project-descr-left"><span ng-bind="yearProject"></span>, <span ng-bind="monthProject"></span></p>
				</div>

				<div>
					<p class="project-title-left">Rôle</p>
					<p class="project-descr-left" ng-bind="roleProject"></p>
				</div>

				<div>
					<p class="project-title-left">Client / Agence</p>
					<p class="project-descr-left" ng-bind="clientProject"></p>
				</div>
			</div>

			<div class="col-right">
				<h2 ng-bind="titleProject"></h2>

				<div class="long-descr">
					<p>Infos du Projet</p>
					<p ng-bind="longDescribeProject"></p>
				</div>
			</div>
		</div>
	</section>

	<span id="screen-anchor"></span>
	<section ng-repeat="screen in screensProject" class="screen-project section isNot">
		<div>
			<div class="contain-screen">
				<p class="title-screen">{{screen.title}}</p>
				<img src="../images/projects/{{urlProject}}/{{screen.image}}" class="img-screen">
			</div>
		</div>
	</section>
	
<!-- 	<div ng-if="video !== ''" class="video">
		<iframe ng-if="video === 'nooke'" src="https://www.youtube.com/embed/lwgM_MoeREQ" frameborder="0" allowfullscreen></iframe>
		<iframe ng-if="video === 'nooke'" src="https://www.youtube.com/embed/N3I5U_xBGuM" frameborder="0" allowfullscreen></iframe>
		<iframe ng-if="video === 'sisley'" src="https://www.youtube.com/embed/uuEeboUJTQs" frameborder="0" allowfullscreen></iframe>
	</div> -->

	<div class="change-projects clearfix">
		<a ng-href="#/project/{{prevProject}}" ng-click="prev()"><span>Précèdent</span></a>
		<a ng-href="#/project/{{nextProject}}" ng-click="next()"><span>Suivant</span></a>
	</div>
</div>
