<div class="project-page">
	<section id="home-project" class="section">
		<div class="section-container">
			<div class="section-center">
				<p class="number" ng-bind="numberProject"></p>
				<div class="name">
					<p class="title" ng-bind="titleProject"><br/>Transilien</p>
					<p>
						<span class="date" ng-bind="dateProject"></span>
						<span ng-bind="describeProject"></span>
					</p>
				</div>
			</div>
		</div>
	</section>

	<section id="info-project" class="section">

	</section>

	<section class="screen-project" class="section">

	</section>
</div>
